<h2> <%= pluralize(hackers.count,'Hacker')%> </h2>

<% if hackers.any? %>
<table class="table table-striped">
	<thead>
		<tr>
		  <th> ID </th>
		  <th> Name </th>
		</tr>
	</thead>
		<tbody>
		 <% hackers.each do |hacker| %>


			  <tr>
			    <td><%= link_to hacker.id, generation_hacker_path(generation,hacker) %></td>
			    <td><%= hacker.name %></td>
			   
			  </tr>
		<% end %>
	</tbody>
</table>
<%end%>